* {
  box-sizing: border-box;
  background-color: blue;
  color: white;
}
/*
.registrationNavbar {
  background: #162b48;
}

html,
body,
#registrationCard > div {
  background: #0095c4 !important;
  height: 100%;
}

html,
body,
#registrationContainer > div {
  background: none;
  height: 100%;
}

body {
  font-family: serif;
}
*/
